<form action="/todos" method= "POST">
<label for="description"> Todo Content:</label>
<textarea name="description" cols="30" rows="10"></textarea>
<label for="description"> Completed?</label>
<input type="checkbox" value="true" name="done" >
<input type="submit" >
</form>